

.section-search input{
    padding: 5px !important;
    font-size: 28px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important
}

.section{
    padding: 10px 0;
}

.section-b{
    background: #333;
    color:#fff;
}

.section-follow  {
    padding: 0px;
}

.section-follow .fa-2x {
    margin: 5px 10px 
}





@media(mx-width:960px){
    .container {
        padding-right: 3rem;
        padding-left: 3rem;
    }
}
